extends ./layout/index

block content
    .game
        .game__room

            .game__multiplayer.game-section
                h3 Игра по сети
                form#js-create-room.room
                    h4 1. Выберите фон
                    .room__bg-list
                        each i in [1,2,3,4,5,6,7,8,9,10]
                            .room__bg
                                label.radio-image
                                    input(type="radio" value=`${i}` checked=i===1 name="room_bg")
                                    img.room__bg-img(src=`/static/img/bg/${i}.jpg` alt="")
                    .room__main
                        h4 2. Создайте свою комнату
                        input(type="number" name="room_id")
                        input(type="submit" value="Создать комнату")
                p Присодиняйтесь к уже созданным комнатам:
                ul.room-list

            .game__single.game-section
                h3 Тренировка с ИИ
                form#js-training-form.single
                    .single__left
                        select(name="difficult")
                            each i, index in ['Легкий', 'Средний', 'Тяжелый']
                                option(value=`${index + 1}`)= i
                            option(disabled value=`${index + 1}`) Мастер
                    .single__right.ml-2
                        button(type="submit") Начать игру

            .game__single.game-section
                h3 Боссы
                form#js-boss-form.single
                    //.single__left
                    //    select(name="boss_name")
                    //        each i in [{value: 'forest-golem', name: 'Голем'}]
                    //            option(value=`${i.value}(${i.name})`)= i.name
                    //.single__right.ml-2
                    //    button(type="submit") Начать игру
        .game__engine
            h3.js-game-status Ожидание противника...
            .game__players
                .game__player
                    .player-info.js-player-info-1
                        .player-info__name Den55
                        .player-info__status
                            .player-info__status-icon
                .game__player
                    .player-info.js-player-info-2
                        .player-info__name Liza
                        .player-info__status
                            .player-info__status-icon
            .game
                canvas#game(width="700" height="480")

    script(src="/socket.io/socket.io.js")

block script
    script(src="/static/scripts/dist/bundle.js")
